@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);


#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4 .mbr-navbar__hamburger {
  color: #c1c1c1;
}
#slider-3 P {
  text-align: left;
  color: #ffffff;
}
#slider-3 H1 {
  text-align: left;
  color: #ffffff;
  font-family: 'PT Serif', serif;
}
#content5-k .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
}
#content5-k .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-k .mbr-article {
  color: #fff;
}




#menu-p .mbr-brand__name {
  font-size: 16px;
}
#menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-p .mbr-navbar__hamburger {
  color: #c1c1c1;
}
#content5-x .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-x .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-x .mbr-article {
  color: #fff;
}
#content5-x .mbr-article P {
  text-align: left;
}
#header3-y H3 {
  text-align: center;
  font-family: 'Droid Serif', serif;
}
#msg-box5-z .mbr-header__text {
  color: #2c2c2c;
  font-family: 'Droid Serif', serif;
}
#msg-box5-z .mbr-header__subtext {
  color: #2c2c2c;
}
#msg-box5-z .mbr-article {
  color: #ffffff;
}
#msg-box5-z .mbr-article P {
  color: #2c2c2c;
}
#msg-box5-11 .mbr-header__text {
  color: #2c2c2c;
  font-family: 'Droid Serif', serif;
}
#msg-box5-11 .mbr-header__subtext {
  color: #2c2c2c;
}
#msg-box5-11 .mbr-article {
  color: #ffffff;
}
#msg-box5-11 .mbr-article P {
  color: #2c2c2c;
}
#msg-box5-16 .mbr-header__text {
  color: #2c2c2c;
  font-family: 'Open Sans Condensed', sans-serif;
}
#msg-box5-16 .mbr-header__subtext {
  color: #2c2c2c;
}
#msg-box5-16 .mbr-article {
  color: #ffffff;
}
#msg-box5-16 .mbr-article P {
  color: #2c2c2c;
}
#msg-box5-17 .mbr-header__text {
  color: #2c2c2c;
}
#msg-box5-17 .mbr-header__subtext {
  color: #2c2c2c;
}
#msg-box5-17 .mbr-article {
  color: #ffffff;
}
#msg-box5-17 .mbr-article P {
  color: #2c2c2c;
}
#msg-box5-18 .mbr-header__text {
  color: #2c2c2c;
}
#msg-box5-18 .mbr-header__subtext {
  color: #2c2c2c;
}
#msg-box5-18 .mbr-article {
  color: #ffffff;
}
#msg-box5-18 .mbr-article P {
  color: #2c2c2c;
}
#msg-box5-19 .mbr-header__text {
  color: #2c2c2c;
}
#msg-box5-19 .mbr-header__subtext {
  color: #2c2c2c;
}
#msg-box5-19 .mbr-article {
  color: #ffffff;
}
#msg-box5-19 .mbr-article P {
  color: #2c2c2c;
}
