@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);


#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4 .mbr-navbar__hamburger {
  color: #ffffff;
}
#slider-3 P {
  text-align: left;
  color: #ffffff;
}
#slider-3 H1 {
  text-align: left;
  color: #ffffff;
  font-family: 'PT Serif', serif;
}
#content5-k .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
}
#content5-k .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-k .mbr-article {
  color: #fff;
}
